# TODO: create a GH issue for this on vercel/next.js
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=eslint-plugin-*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
public-hoist-pattern[]=@hapi/accept
public-hoist-pattern[]=@next/env
public-hoist-pattern[]=prop-types
public-hoist-pattern[]=styled-jsx
