@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    line-height: 1.5;
  }
  
  /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    word-break: break-word;
  }

  h1 {
    @apply text-3xl my-4;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply my-3;
  }
  
  a {
    @apply underline text-blue-700 hover:text-blue-800
  }
}
